// Put your scss code here

html {
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

#multicol {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  max-width: 100%;
  height: 200px;
  margin-top: -90px; 
  justify-content: space-around;
  color: white;
  padding-top: 100px;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("assets/harukamirai_shirt.jpg");
  background-size: cover;
  background-position: 0%, 50%;
}


#multicol div {
  text-align: center;

}

#multicol .fa {
  font-size: 50px;
  color: white;
  text-align: center;
}

#multicol .fa:hover {
  color: gold;
}


#fourth {
  position: relative;
  background-color: black;
  top: -90px;
  box-shadow: 0px 0px 50px 20px GoldenRod;
  height: 900px;
  overflow: auto;
}

#fourth h1 {
  font-family: Rock Salt;
  position: relative;
  font-size: 60px;
  color: white;
  text-shadow: 4px 4px rgba(218, 165, 32, 0.5);
  text-align: center;
  top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px; /* location of text box */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.textInModal {
  padding: 60px;
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  /*
  background-color: white;
  box-shadow:20px 0px 50px 30px lightblue inset, 60px 60px 50px 90px lightpink inset, 0 0 90px 90px azure inset;
  */
  
  box-shadow:20px 20px 50px 30px azure;
  background-color: transparent;
  color: white;
}

.textInModal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* close button */
.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

.flex-container img {
  margin: 10px;
  height: 300px;
  width: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.flex-container img:hover {
    opacity: 0.7;
}

#third {
  position: relative;
  background-color: black;
  background-image: url("assets/harukamirai_group2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  top: -48px;
  max-width: 100%;
  height: 900px;
  box-shadow: 0px 0px 50px 20px GoldenRod;
}

#third h1 {
  font-family: Rock Salt;
  position: relative;
  font-size: 60px;
  color: white;
  text-shadow: 4px 4px rgba(218, 165, 32, 0.5);
  text-align: center;
  top: 20px;
}


.slideshow {
  overflow: hidden;
  max-width: 400px;
  max-height: 600px;
  margin: auto;
  position: relative;
  top: 20px;
  box-shadow:20px 20px rgba(218, 165, 32, 0.5);
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#second {
  position: relative;
  background-color: Gold;
  top: -5px;
}

.vignette {
  box-shadow: 0px 0px 50px 1000px GoldenRod inset;
}

#second p {
  /*background-color: rgba(0, 0, 0, 0.4);*/
  padding: 15px;
}

#second .bgimg {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: auto;
  z-index: 0;
  filter: opacity(90%);
}

#second .overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow:20px 20px 50px 30px Azure;
  background-color: rgba(0, 0, 0, 0.4);
}

#second h1 {
  font-family: Rock Salt;
  font-size: 60px;
  color: white;
  text-shadow: 4px 4px 20px rgb(255, 215, 0);
  text-align: center;
}

#lowtab {
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  font-size: 12px;
  padding: 5px;
}

#lowtab p {
  display: inline;
}

#lowtab a {
  float: right;
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

#video_container h2{
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

#navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 5px;
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
  font-size: 25px; 
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-family: Bevan;
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  background-color: black;
  color: white;
}

#navbar #logo:hover {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  background-color: black;
  color: rgb(255, 215, 0);
}

#navbar li a:hover {
  color: black;
  text-shadow: 5px 5px rgb(255, 215, 0);
  transition: 0.4s;
}

#navbar-right {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#navbar-right li{
  color: gray;
  text-shadow: 2px 2px rgb(255, 215, 0);
  display: inline-block;
  font-family: Rock Salt;
  .active {
    transition:all 0.4s ease-in-out;
    background-color: black;
    box-shadow: 0px 0px 30px 10px azure;
  }
}

@media screen and (max-width: 1030px) {
  #logo {
    /*width: auto;*/
    position: relative;
    display: block;
    text-align: center;
    float: none;
  }

  .vignette {
    overflow: hidden; 
  }

  .close {
    top: 150px;
  }

  #navbar {
    padding: 20px 10px !important;
  }
  #navbar ul a {
    float: right;
    text-align: left;
    /*clear: left;*/
  }
  #navbar-right {
    float: right;
  }
}
